{% extends "faculty/base.html" %}

{% block content %}
    <h1>{{ program.name }}</h1>
    <p>Код: {{ program.code }}</p>
    <p>Випускова кафедра:
        <a href="{% url 'faculty:departments_details' program.department.id %}">{{ program.department }}</a>
    </p>

    {{ program.description|linebreaks }}

    <p>Координатор набору: {{ program.coordinator_name }}, {{ program.coordinator_contact }}</p>

    <h2>Дисципліни</h2>
    <ul>
        {% for discipline in program.disciplines.all %}
            <li>{{ discipline }}</li>
        {% endfor %}
    </ul>
{% endblock %}